[submodule "moneta-core-authz"]
	path = moneta-core-authz
	url = git@github.com:Pressingly/moneta-core-authz.git
[submodule "pinet-core-2.0"]
	path = pinet-core-2.0
	url = git@github.com:Pressingly/pinet-core-2.0.git
